.header-auth-container .nav-item .nav-link{
    color: #026aa7;
}

.header-auth-container .nav-item:hover{
    color: #fff;
    background-color: #026aa7;
}

.header-auth-container .nav-item:active{
    color: #fff;
    background-color: #026aa7;
}

.header-auth-container .nav-item:hover .nav-link {
    color: #fff;
}

.logo {
    height: 152px;
}
.header-main-container {
    background-color: #026aa7; 
    height: 200px;
}

.header-main-container .navbar {
    padding: 8px 0px;
}

.header-auth-container .navbar {
    padding: 0px;
}

.header-auth-container .navbar-nav {
    height: 50px;
}

.header-main-container .nav-item a {
    color:#fff;
}

.header-main-container .nav-item:hover {
    color:#026aa7;
    background-color: #fff;
}

.header-main-container .nav-item:active {
    color:#026aa7;
    background-color: #fff;
}
.header-main-container .nav-item:hover .nav-link {
    color: #026aa7;
}

footer {
 background-color: #026aa7;    
}

.container {
    margin-top: 30px;
    margin-bottom: 60px;
}

.active {
    background-color:#fff;
    color:#026aa7;
}

.active a.nav-link {
    color:#026aa7;
}


.thead-default {
    background-color: #026aa7;
    color: #fff;
}

.btn-default {
    cursor:pointer;
    background-color: #026aa7;
    color: #fff;
}

.btn-default:hover {
    
    background-color: #01598B;
    color: #fff;
}

.btn-default:active {
    
    background-color: #01598B;
    color: #fff;
}